<html lang="pt-br>
<head>
     <title>" Noticia 2" </title>
	 <meta charset="UTF_8">
	 <link rel="stylesheet" href="../css/estilos.css">
</head>

<body = "corpo">
<h1 class ="mago"> IagoNews</h1>
<h2 class="titulo2"> Mago dos games encontrado</h2>
<video class="video" controls>
<source src= "../media/mago.mp4">
</video>
	<hr>
		<p class="paragrafo-button"><a href="../index.html">voltar</a></p>
	<hr>
<p class="paragrafo-desen">Desenvolvido por Iago Henrique</p>
</body>
</html>
