<html lang="pt-br>
<head>
     <title>" Noticia 1" </title>
	 <meta charset="UTF_8">
	 <link rel="stylesheet" href="../css/estilos.css">
</head>

<body = "corpo"
>
<h1 class ="bgs"> IagoNews</h1>
<h2 class="titulo"> Senai organiza viagem para a BGS24, onde levará os alunos do ensino médio.</h2>
<img class="img" src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuoHevANVJnPvAdHdLP-jnz5JdyJRh_BhP9g&s"> 
	<hr>
		<p class="paragrafo-button"><a href="../index.html">voltar</a></p>
	<hr>
<p class="paragrafo-desen">Desenvolvido por Iago Henrique</p>
</body>
</html>
